*{
    margin: 0px;
    padding: 0px;
}


.bg{
  background-image: url('https://img.freepik.com/premium-vector/modern-background-screen-your-devices-synth-wave-retro-wave-vaporwave-futuristic-aesthetics_489646-23698.jpg');
  background-size: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading{
    text-shadow: 2px 2px #292929;
}
.resultSection{
    background-color: rgb(61, 71, 61);
}